@import "tailwindcss";

@theme {

  --color-logo: #B29977;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "GmarketSans", Arial, Helvetica, sans-serif;
}
